.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;

  width: 100%;
  background: var(--tomato);

  color: var(--foreground);
  font-weight: 700;

  padding: 10px;
  border-radius: 10px;
  border: solid var(--foreground) 2px;

  font-family: "Prompt", sans-serif;
}

.Button:focus,
.Button:hover {
  outline: none;
  background-color: var(--cadet-blue);
}

.Button:disabled {
  background-color: var(--background);
}

.Button-Loader {
  font-size: 20px;
  width: 20px;
  height: 20px;
  animation: loading 2s linear infinite;
}

@keyframes clock-loading {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
