.Button {
  width: 100%;
  background: var(--tomato);

  color: var(--foreground);
  font-weight: 700;

  padding: 10px;
  border-radius: 10px;
  border: solid var(--foreground) 2px;

  font-family: "Prompt", sans-serif;
}

.Button:focus,
.Button:hover {
  outline: none;
  background-color: var(--cadet-blue);
}

.Button:disabled {
  background-color: var(--background);
}
