.Select-Wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.Select-Label {
  color: var(--foreground);

  font-weight: 700;
  margin: 0;
}

.Select-Input {
  appearance: none;
  margin: 0;

  color: var(--foreground);
  background: var(--background);

  padding: 10px;
  border: solid var(--foreground) 2px;
  border-radius: 10px;

  font-family: "Prompt", sans-serif;
}

.Select-Icon {
  position: absolute;
  right: 7px;
  bottom: 7px;
  font-size: 15px;
}

.Select-Input:focus {
  outline: none;
  border-color: var(--cadet-blue);
}

.Select-Input:focus ~ .Select-Label {
  color: var(--cadet-blue);
}
