.Card {
  padding: 20px;
  border-radius: 20px;
  border: solid var(--foreground) 2px;

  color: var(--foreground);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Card-Title {
  position: relative;
  width: 100%;

  color: var(--foreground);
  font-weight: 400;
  margin: 0;
}

.Card-Description {
  position: relative;
  width: 100%;

  color: var(--foreground);
  font-weight: 200;
  margin: 0;
}

.Card_loading .Card-Title::after,
.Card_loading .Card-Description::after,
.Card_loading .Card-Description::before {
  line-height: 1;
  width: 70%;

  border-radius: 100px;

  content: "loading";
  color: transparent;
  display: inline-block;
  vertical-align: middle;

  background: linear-gradient(
    to right,
    rgba(var(--foreground-rgb), 0.1),
    rgba(var(--foreground-rgb), 0.15),
    rgba(var(--foreground-rgb), 0.35),
    rgba(var(--foreground-rgb), 0.5),
    rgba(var(--foreground-rgb), 0.35),
    rgba(var(--foreground-rgb), 0.15),
    rgba(var(--foreground-rgb), 0.1)
  );
  background-size: 200%;
  animation: loading 2s linear infinite;
}

.Card_loading .Card-Description::before {
  width: 100%;
}

.Card_loading .Card-Description::after {
  width: 80%;
}

@keyframes loading {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}
