.NavbarItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background: none;
  padding: 20px;
  border: none;
}

.NavbarItem-Label {
  margin: 0;
}

.NavbarItem:hover,
.NavbarItem:focus {
  background: none;
}

.NavbarItem:hover {
  color: white;
}
