.Textarea-Wrap {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.Textarea-Label {
  color: var(--foreground);

  font-weight: 700;
  margin: 0;
}

.Textarea-Textarea {
  margin: 0;

  color: var(--foreground);
  background: var(--background);

  padding: 10px;
  border: solid var(--foreground) 2px;
  border-radius: 10px;

  font-family: "Prompt", sans-serif;

  resize: vertical;
}

.Textarea-Textarea:focus {
  outline: none;
  border-color: var(--cadet-blue);
}

.Textarea-Textarea:focus ~ .Textarea-Label {
  color: var(--cadet-blue);
}

.Textarea-Textarea::placeholder {
  color: var(--foreground);
  opacity: 0.5;
  letter-spacing: normal;
}
